
body{
  margin:0;
}

.container{
  display: flex;
  background-color: #f9f9f9;
}
/*header*/
header{
  display:flex;
  background-image:url("/assets/sport-908267_1280.jpg");
  background-position:0% 25%;
  background-size:cover;
  ul{
    display:flex;
    list-style: none;
    padding-left: 0;
    margin-left: 60vw;
    li{
      padding: 30px;
      a{
      text-decoration: none;
      color:#fff;
      font-size: 14px;
      font-family: Comic Sans MS;
        &:hover{
          text-decoration: underline;
        }
       }
      }

  }
}
.logo{
  padding-top: 10px;
  padding-left: 5vw;
  i{
    color:#fff;
  }
  h1{
    display: inline-block;
    color:#fff;
    font-family:Comic Sans MS;
  }
}

/*sidebar*/
.sidebar{
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.sidebar_item{
  top:5px;
  position: -webkit-sticky;
  position: sticky;
  width:10vw;
  height:100vh;

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.2);
    li{ padding:20px 0;
        text-align: center;
      p{
        padding: 10px;
        border-bottom: 1px solid black;
      }
      a{
        text-decoration: none;
        font-size: 20px;
        color:#555555;
        font-family:Comic Sans MS;
        &:hover{
          text-decoration: underline;
        }

      }
    }
  }
}

.main-article{
  height:200vh;
  background-color: white;
  margin-top: 40px;
  margin-right: 40px;
  width:90vw;
  box-shadow: 5px 5px 5px 10px rgba(0,0,0,0.2);


}
