<header>
  <div class="logo">
    <i class="fas fa-volleyball-ball fa-2x"></i>
    <h1>volley-info</h1>
  </div>
  <ul>
    <li><a href="#">LOGIN</a></li>
    <li><a href="#">SIGNUP</a></li>
  </ul>
</header>
