
  <div class="sidebar">
   <div class="sidebar_item">
     <ul>
         <li><p>volley-infoは全国のバレーボールプレイヤーのための情報交換掲示板です</p></li>

           <li><strong>管理者としてログインしています</strong></li>

           <li><%= link_to "profile","#" %></li>
           <li><%= link_to "logout","#" %></li>

           <li>TOPICを作成する  </li>

            <li><%= link_to 'SIGNUP', new_user_registration_path %></li>
            <li><%= link_to 'LOGIN', new_user_session_path %></li>
      



     </ul>
   </div>
  </div>
