
  <div class="sidebar">
   <div class="sidebar_item">
     <ul>
       <li><%= link_to "profile","#" %></li>
       <li><%= link_to "login", "#" %></li>
       <li><%= link_to "logout","#" %></li>
       <li><%= link_to "Account deletion","#" %></li>
     </ul>
   </div>
  </div>
